@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer base {
  :root {
    --background: 0 100% 100%;
    --foreground: 0 0% 0%;
    --muted: 0 100% 95%;
    --muted-foreground: 0 0% 33%;
    --popover: 0 100% 100%;
    --popover-foreground: 0 0% 0%;
    --card: 0 100% 100%;
    --card-foreground: 0 0% 0%;
    --border: 0 100% 90%;
    --input: 0 100% 90%;
    --primary: 0 100% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 100% 95%;
    --secondary-foreground: 0 0% 31%;
    --accent: 0 100% 90%;
    --accent-foreground: 0 0% 25%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 100% 30%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 100% 100%;
    --foreground: 0 0% 0%;
    --muted: 0 100% 95%;
    --muted-foreground: 0 0% 33%;
    --popover: 0 100% 100%;
    --popover-foreground: 0 0% 0%;
    --card: 0 100% 100%;
    --card-foreground: 0 0% 0%;
    --border: 0 100% 90%;
    --input: 0 100% 90%;
    --primary: 0 100% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 100% 95%;
    --secondary-foreground: 0 0% 31%;
    --accent: 0 100% 90%;
    --accent-foreground: 0 0% 25%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 100% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary)/0.4);
  border-radius: 3px;
}